<h3><a href="./pages/allposts.html">Blog</a></h3>

                
<ul class="naked-list"><li class="list-link"><a href="./pages/blog/2022-06-12-DovahPy.html">2022-06-12   DovahPy</a></li>
<li class="list-link"><a href="./pages/blog/2022-06-11-NewSite.html">2022-06-11   NewSite</a></li>
<li class="list-link"><a href="./pages/blog/2022-06-10-Redesign.html">2022-06-10   Redesign</a></li>
<li class="list-link"><a href="./pages/blog/2022-05-25-dataviznotes.html">2022-05-25   dataviznotes</a></li>
<li class="list-link"><a href="./pages/blog/2022-05-24-projectstart.html">2022-05-24   projectstart</a></li>
</ul>