<h3><a href="./pages/allprojects.html">Projects</a></h3>
<ul class="naked-list">
    <li class="list-link">
        <a href="https://github.com/patoconnor/punchclock">
            <img class='thumb' src='../../../static/images/githublogo.bmp' 
            alt='Download on Github'/></a></a>
        <a href="./projects/punchclock.html">Personal Punchclock</a>
    </li>
    <li class="list-link">
        <a href="https://github.com/patoconnor/rocklerfilter">
            <img class='thumb' src='../../../static/images/githublogo.bmp' 
            alt='Download on Github'/></a></a>
        <a href="./projects/rockler.html">Rockler Filter</a>
    </li>
    <li class="list-link">
        <a href="https://github.com/patoconnor/craigslist-free-finder">
            <img class='thumb' src='../../../static/images/githublogo.bmp' 
            alt='Download on Github'/></a>
        <a href="./projects/craigslistfree.html">Craigslist Free Finder</a>
    </li>
    <li class="list-link">
        <a href="https://github.com/patoconnor/dovahpy">
            <img class='thumb' src='../../../static/images/githublogo.bmp'
            alt='Download on Github'/></a>
        <a href="./projects/craigslistfree.html">DovahPy</a>
    </li></ul>