<!-- This template is used for archive webpages-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/styles/homegrid.css"/>
    <link rel="stylesheet" href="../../static/styles/patstyle.css"/>
    <title>All Posts</title>
</head>
<body>
    <div class="wrapper">
        <header></header>
        <div class="wide-content content-box">
            <ul id="content-list" class="naked-list"></ul>
        </div>
        <footer></footer>
    </div>    
</body>
</html>
