<!-- This is for the homepage which is stored at root/siteroot/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/homegrid.css"/>
    <link rel="stylesheet" href="../static/styles/patstyle.css"/>
    <title>Pat O'Connor</title>
</head>
<body>
    <div class="wrapper">
        <header></header>
        <div id="project-links" class="content-block"></div>
        <div id="blog-links" class="content-block"></div>
        <footer></footer>
    </div>
</body>
</html>