/* CSS for the logo is  located in a separate file */

body {
    font-family: 'Trispace', sans-serif;
}

header {
    background-color: silver;
}

footer {
    background-color: silver;
    align-items: center;
    grid-row: 7;
    grid-column: 1 / 4;

}

nav {
    grid-row: 1;
}

.naked-list {
    list-style-type: none;
    padding-left: 0%;
}
a {
    color: rgb(44, 62, 70);

}
.list-link {
    border-left: 5px solid black;
    border-top: inherit;
    border-bottom: inherit;
    
}
.link-thumb {
    height: 1.2em;
}


.grid-wrapper {
    display: grid;
    grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 2fr 3fr 6fr;
}

#page-header {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    
    display: grid;
    grid-template-columns: subgrid;
}

#pat-pic {
    grid-column: 1;
}

#logo-wrapper {
    grid-column: 3;
}

#header-logo {
    height: 100%;
}

#logo {
    height: 100%;
}

#header-bullets {
    grid-column: 2;
}

#about-me-card {
    background-color: skyblue;
    grid-row: 3 / 5;
    grid-column: 1 / 3;
}


#video-card {
    background-color: silver;
    grid-row: 5 / 7;
    grid-column: 1 / 3;
}

#projects-card {
    grid-row: 2 / 4;
    grid-column: 3;
    background-color: burlywood;
}

#blog-card {
    grid-row: 4 / 6;
    grid-column: 3;
    background-color: skyblue;
}

#music-card {
    background-color: burlywood;
    grid-row: 6;
    grid-column: 3;
}
