/* | | | | | | | | | | | | |  */
/*  */
/*  */

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: (200px, 1fr, 200px);
    gap: 20px;
}

/* div, header, footer {border: solid black 5px;} */

header {
    /* one fr on either side, 10 wide */
    grid-column: 2 / 12;
    grid-row: 1;
    
    display: grid;
    grid-template-columns: subgrid;
    grid-auto-flow: column;

}

#header-title {
    grid-column: 1 / 6;
}

#header-info {
    grid-column: 6 / 11;
}



.narrow-content{
    /* half of 3/4width centered div */
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

#project-links {
    /* left half of 3/4width centered div */
    grid-column: 2 / 7;
    grid-row: 2;
}

#blog-links {
    grid-column: 7 / 12;
    grid-row: 2;
}


.thumb { 
    height: 1.6em;
}


.wide-content {
    grid-column: 2 / 12;
    grid-row: 2;
    padding-left: 5%;
    padding-right: 5%;
}

footer {
    /* centered and half-width */
    grid-column: 3 / 11;
    grid-row: 3;
    
    display: grid;
    grid-template-rows: repeat(3, 1fr, 1fr);
}

.footer-row {
    grid-auto-flow: column;
}

.footer-link {
    grid-auto-flow: row;   
    padding-left: 1%;
    padding-right: 1%;

}