:root {
    --p-color: burlywood;
    --a-color: rgb(115, 189, 140);
    --t-color: rgb(79, 79, 158);

    --left-border-color: black;
    
    
}

.logo-grid {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr 1fr 1fr 1fr;
}

.p-top {
    grid-row: 1 / 4;
    grid-column: 1 / 5;
    background-color: var(--p-color);
    
    border-top-right-radius: 10%;
}

.p-stem {
    grid-row: 1 / 8;
    grid-column: 1;
    background-color: var(--p-color);
    border-top: 5px solid var(--p-color);
    border-left: 5px solid var(--t-color);
}

.p-hole {
    grid-row: 2;
    grid-column: 2 / 4;
    background-color: var(--t-color);
    border-bottom: 5px solid var(--p-color);
    border-top: 5px solid var(--t-color);
    border-left: 5px solid var(--p-color);
    
}

.p-top-right {
    grid-row: 2;
    grid-column: 4;
    background-color: var(--p-color);
    border-left: 5px solid var(--t-color);
    border-top: 5px solid var(--p-color);
    border-bottom: 5px solid var(--p-color);
}


.a-left-leg {
    grid-row: 6 / 8;
    grid-column: 2;
    background-color: var(--a-color);
    border-left: 5px solid var(--t-color);
}

.a-right-leg {
    grid-row: 6 / 8;
    grid-column: 3;
    background-color: var(--a-color);
    border-left: 5px solid var(--t-color);
    border-top: 5px solid var(--a-color);
}

.a-top {
    grid-row: 4 / 6;
    grid-column: 2 / 4;
    background-color: var(--a-color);
    border-left: 5px solid var(--t-color);
    border-top: 5px solid var(--a-color);
}

.a-top-right {
    grid-row: 4;
    grid-column: 3;
    border-left: 5px solid var(--t-color);
    /* border-top: 5px solid var(--a-color); */
}

.t-cross {
    grid-row: 5;
    grid-column: 4 / 6;
    background-color: var(--t-color);
}

.t-stem {
    grid-row: 4 / 9;
    grid-column: 4;
    background-color: var(--t-color);
    border-left: 5px solid var(--a-color);
    border-top: 5px solid var(--t-color);
}

.t-tail {
    grid-row: 7;
    grid-column: 4 / 6;
    background-color: var(--t-color);
    /* border-bottom: 5px solid black; */
}

