/*variables*/
:root {
    --header-height: 200px;
    --header-width: 50%;
    --header-radius: 10%;

    --content-height: 50%;
    --content-width: 50%;
    --content-padding: 10px;
    --content-radius: 5%;
    --content-border: black;
    --content-background-color: rgba(180, 140, 180, 0.26);
    --list-item-border-color: rgba(170, 130, 110, 0.26);
    --body-background-color: rgb(249, 220, 244);

    background-color: var(--body-background-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}


footer {
    text-align: center;
    background-color: var(--content-background-color);
    mix-blend-mode: darken;    
}
.naked-list{
    list-style-type: none;
    padding-left: 5%;
}

.list-link {
    padding: 0;
    border-left: 4px solid var(--list-item-border-color);
    border-bottom: 2px solid var(--list-item-border-color);
    text-align: left;
}

a {
    /* color: black; */
    text-emphasis-style: unset;
}

.title-card {
    text-align: center;
}

.content-box {
    border-radius: var(--content-radius);
    border-color: var(--content-border);
    background-color: var(--content-background-color);
    mix-blend-mode: darken;    
}