
body {
    font-family: 'Trispace', sans-serif;
}

header {
    background-color: silver;
}

#about-me-card {
    background-color: skyblue;
}

#video-card {
    background-color: silver;
}

#projects-card {
    background-color: burlywood;
}

#blog-card {
    background-color: skyblue;
}

#music-card {
    background-color: burlywood;
}

footer {
    background-color: silver;
    align-items: center;
}

.naked-list {
    list-style-type: none;
    padding-left: 0%;
}

.list-link {
    border-left: 5px solid black;
    border-top: inherit;
    border-bottom: inherit;

}
.link-thumb {
    height: 1.2em;
}