/*variables*/
:root {
    --header-height: 200px;
    --header-width: 50%;
    --header-radius: 10%;

    --content-height: 50%;
    --content-width: 50%;
    --content-padding: 10px;
    --content-radius: 5%;
    --content-border: black;
    --content-background-color: rgba(180, 140, 180, 0.26);
    --body-background-color: rgb(249, 220, 244);

    background-color: var(--body-background-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}

.title-card {
    text-align: center;
}

footer {
    text-align: center;
}


#current-projects-box {
    margin-right: var(--content-padding);
}

#blog-posts-box {
    margin-left: var(--content-padding);
}


#body-content-wrapper {
    display: flex;
    flex-direction: row;
    background-color: var(--body-background-color);
    margin: auto;
    height: var(--content-height);
    width: var(--content-width);
    padding: 10px;
}

.content-box {
    height: var(--content-height);
    width: var(--content-width);
    padding: var(--content-padding);
    border-radius: var(--content-radius);
    border-color: var(--content-border);
    background-color: var(--content-background-color);
    margin: auto;
    mix-blend-mode: darken;
    
}